@charset "UTF-8";
body {
  display: grid;
  margin: 0;
  min-height: 100vh;
  color: #363636;
  font-family: 'M PLUS Rounded 1c';
  backface-visibility: hidden;
}
img {
  vertical-align: top;
}
a {
  text-decoration: underline !important;
}
.wrap {
  position: relative;
  margin: 0 auto;
  padding: 24px;
  min-width: 1024px;
  width: 96vw;
  min-height: 100%;
  background-color: #fff;
  z-index: 10;
}

