i.fa {
  font-size: 36px;
}

i.fa-eye {
  font-size: 18px;
  color: #333;
}

i.fa-heart {
  cursor: pointer;
}

i.fa-heart.is-watch {
  color: #e00040;
}

i.fa-heart.is-running {
  animation: heartBeat 0.4s ease-in-out;
}

#projectList .Project {
  position: relative;
}

#projectList .Project .fa-star {
  position: absolute;
  top: 17px;
  right: 10px;
  margin-top: -12px;
  font-size: 24px;
  cursor: pointer;
}

#projectList .Project .fa-star.is-watch {
  color: orange;
}

#projectList .Project .fa-star.is-running {
  animation: heartBeat 0.4s ease-in-out;
}

.watch-title {
  display: block;
  height: 35px;
}

.project-list__item .fa-star {
  position: absolute;
  bottom: 5px;
  right: 6px;
  font-size: 24px;
  cursor: pointer;
  z-index: 6;
}

.project-list__item .fa-star.is-watch {
  color: orange;
}

.project-list__item .fa-star.is-running {
  animation: heartBeat 0.4s ease-in-out;
}

.Page--view-issue {
  position: relative;
}

.Page--view-issue > .watchIconWrap {
  position: fixed;
  bottom: 0;
  right: 0;
  display: table;
  width: auto;
  white-space: nowrap;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.Page--view-issue > .watchIconWrap_new {
  bottom: 68px;
}

.Page--view-issue > .watchIconWrap > span,
.Page--view-issue > .watchIconWrap > i.fa-heart {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}

.Page--view-issue > .watchIconWrap > span {
  padding: 0 20px;
  color: #fff;
  background-color: #222;
  border-radius: 4px 0 0 0;
}

.Page--view-issue > .watchIconWrap > i.fa-heart {
  padding: 10px 20px;
}

.watch-issueSection {
  margin-bottom: 40px;
}

.watch-issue {
  table-layout: fixed;
  font-size: 93%;
}

.watch-issue_new {
  font-size: 100%;
}

.watch-issue_new td {
  white-space: normal !important;
}

.watch-issue-col-1 {
  width: 115px;
}

.watch-issue-col-3 {
  width: 90px;
}

.watch-issue-col-5 {
  width: 65px;
}

.watch-issue-list.is-hover:not(.watch-issue-list_new),
.watch-issue-list.is-hover:not(.watch-issue-list_new) td {
  background-color: #fffde9 !important;
}

.watch-issue-list_new {
  cursor: pointer;
  font-size: 90%;
}

.watch-issue .Assigner,
.watch-issue .Watch {
  text-align: center;
}

.watch-issue .Assigner i.fa,
.watch-issue .Watch i.fa {
  font-size: 30px;
}

.Description .is-visible {
  display: block;
}

.Description .is-hidden {
  display: none;
}

@keyframes heartBeat {
  50% {
    transform: scale(2);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
}
