.fa {
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
.fa-angle-down {
  width: 14px;
  height: 14px;
  -webkit-mask-image: url("../images/angle-down.svg");
  mask-image: url("../images/angle-down.svg");
  -webkit-mask-size: 14px;
  mask-size: 14px;
  background-color: #363636;
}
.fa-pencil {
  width: 18px;
  height: 18px;
  -webkit-mask-image: url("../images/pencil.svg");
  mask-image: url("../images/pencil.svg");
  -webkit-mask-size: 18px;
  mask-size: 18px;
}
.fa-plus-circle,
.fa-minus-circle {
  width: 24px;
  height: 24px;
  -webkit-mask-size: 24px;
  mask-size: 24px;
}
.fa-plus-circle {
  -webkit-mask-image: url("../images/plus.svg");
  mask-image: url("../images/plus.svg");
}
.fa-minus-circle {
  -webkit-mask-image: url("../images/minus.svg");
  mask-image: url("../images/minus.svg");
}
.fa-heart {
  width: 36px;
  height: 36px;
  -webkit-mask-image: url("../images/heart.svg");
  mask-image: url("../images/heart.svg");
  -webkit-mask-size: 36px;
  mask-size: 36px;
}
