:root {
  --primary: #00D1B2;
  --primary-light: #EBFFFC;
  --success: #48C78E;
  --success-light: #F0FAF4;
  --danger: #FF3860;
  --danger-light: #FEECF0;
  --info: #209CEE;
  --info-light: #EEF6FC;
  --link: #485FC7;
  --link-info: #EEF3FC;
  --black: #0A0A0A;
  --gray: #4A4A4A;
  --gray-light: #B5B5B5;
  --gray-lighter: #DBDBDB;
}
