@use "root";
@use "font";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

i {
  &.fa { font-size: 36px;}
  &.fa-eye,
  &.fa-eye-slash {
    font-size: 20px;
    background-color: var(--primary-dark);

    .Watch & {
      display: block;
      margin: 0 auto;
      width: 20px;
      height: 20px;
    }
  }
}
// ================================
.watchIconWrap {
  position: fixed;
  right: 16px;
  bottom: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 23px;
  width: 251px;
  height: fit-content;
  white-space: nowrap;
  background-color: var(--primary-light);
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--primary-dark);
  border-radius: 9px;
  will-change: background-color, border-color;
  transition:
    background-color 0.3s ease-out,
    border-color 0.3s ease-out;
  cursor: pointer;
  z-index: 50;
  $parent: &;

  &:hover,
  &.is-watched {
    #{$parent}__text {
      color: var(--primary-light);
    }
    #{$parent}__icon {
      background-color: var(--primary-light);
    }
  }
  &.is-watched {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }
  &:hover {
    background-color: var(--primary-active);
    border-color: var(--primary-active);
  }

  * {
    line-height: 1;
    vertical-align: top;
    box-sizing: border-box;
  }
  &__text {
    display: flex;
    align-items: center;
    line-height: 1.5;
    color: var(--primary-dark);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    will-change: color;
    transition: color 0.3s ease-out;
  }
  &__icon {
    display: flex;
    margin-right: 7px;
    width: 20px;
    height: 20px;
    will-change: background-color;
    transition: background-color 0.3s ease-out;
  }
}
.watch-issueSection {
  margin-bottom: 40px;
}
.watch-title {
  display: flex;
  align-items: center;
  margin-bottom: 8px !important;
  height: 32px;
}
.watch-issue {
  table-layout: fixed;
  font-size: 93%;

  &_new {
    font-size: 100%;

    td {
      white-space: normal !important;
    }
  }

  &-col-1 { width: 115px;}
  &-col-3 { width: 90px;}
  &-col-5 { width: 65px;}

  &-list.is-hover:not(.watch-issue-list_new),
  &-list.is-hover:not(.watch-issue-list_new) td {
    background-color: #fffde9 !important;
  }

  &-list_new {
    cursor: pointer;
    font-size: 90%;
  }

  .Assigner,
  .Watch {
    text-align: center;
  }
  :is(.Title, .Assigner, .Description) p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .Description {
    .is-visible { display: block;}
    .is-hidden { display: none;}
  }
}
