@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
:root {
  --primary: #00d1b2;
  --primary-dark: #00947e;
  --primary-light: #ebfffc;
  --primary-active: #00b89c;
  --success: #48c78e;
  --success-light: #f0faf4;
  --danger: #ff3860;
  --danger-light: #feecf0;
  --info: #209cee;
  --info-light: #eef6fc;
  --link: #485fc7;
  --link-info: #eef3fc;
  --black: #0a0a0a;
  --gray: #4a4a4a;
  --gray-light: #b5b5b5;
  --gray-lighter: #dbdbdb;
}

.fa {
  cursor: pointer;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.fa-angle-down {
  width: 14px;
  height: 14px;
  -webkit-mask-image: url('../images/angle-down.svg');
  mask-image: url('../images/angle-down.svg');
  -webkit-mask-size: 14px;
  mask-size: 14px;
  background-color: #363636;
}

.fa-pencil {
  width: 18px;
  height: 18px;
  -webkit-mask-image: url('../images/pencil.svg');
  mask-image: url('../images/pencil.svg');
  -webkit-mask-size: 18px;
  mask-size: 18px;
}

.fa-plus-circle,
.fa-minus-circle {
  width: 24px;
  height: 24px;
  -webkit-mask-size: 24px;
  mask-size: 24px;
}

.fa-plus-circle {
  -webkit-mask-image: url('../images/plus.svg');
  mask-image: url('../images/plus.svg');
}

.fa-minus-circle {
  -webkit-mask-image: url('../images/minus.svg');
  mask-image: url('../images/minus.svg');
}

i.fa {
  font-size: 36px;
}
i.fa-eye {
  font-size: 20px;
  background-color: var(--primary-dark);
}
.Watch i.fa-eye {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

.watchIconWrap {
  position: fixed;
  right: 16px;
  bottom: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 23px;
  width: 251px;
  height: fit-content;
  white-space: nowrap;
  background-color: var(--primary-light);
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--primary-dark);
  border-radius: 9px;
  will-change: background-color, border-color;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
  cursor: pointer;
  z-index: 50;
}
.watchIconWrap:hover .watchIconWrap__text,
.watchIconWrap.is-watched .watchIconWrap__text {
  color: var(--primary-light);
}
.watchIconWrap:hover .watchIconWrap__icon,
.watchIconWrap.is-watched .watchIconWrap__icon {
  background-color: var(--primary-light);
}
.watchIconWrap.is-watched {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}
.watchIconWrap:hover {
  background-color: var(--primary-active);
  border-color: var(--primary-active);
}
.watchIconWrap * {
  line-height: 1;
  vertical-align: top;
  box-sizing: border-box;
}
.watchIconWrap__text {
  display: flex;
  align-items: center;
  line-height: 1.5;
  color: var(--primary-dark);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  will-change: color;
  transition: color 0.3s ease-out;
}
.watchIconWrap__icon {
  display: flex;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  will-change: background-color;
  transition: background-color 0.3s ease-out;
}

.watch-issueSection {
  margin-bottom: 40px;
}

.watch-title {
  display: flex;
  align-items: center;
  margin-bottom: 8px !important;
  height: 32px;
}

.watch-issue {
  table-layout: fixed;
  font-size: 93%;
}
.watch-issue_new {
  font-size: 100%;
}
.watch-issue_new td {
  white-space: normal !important;
}
.watch-issue-col-1 {
  width: 115px;
}
.watch-issue-col-3 {
  width: 90px;
}
.watch-issue-col-5 {
  width: 65px;
}
.watch-issue-list.is-hover:not(.watch-issue-list_new),
.watch-issue-list.is-hover:not(.watch-issue-list_new) td {
  background-color: #fffde9 !important;
}
.watch-issue-list_new {
  cursor: pointer;
  font-size: 90%;
}
.watch-issue .Assigner,
.watch-issue .Watch {
  text-align: center;
}
.watch-issue :is(.Title, .Assigner, .Description) p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.watch-issue .Description .is-visible {
  display: block;
}
.watch-issue .Description .is-hidden {
  display: none;
}
