i {
	&.fa { font-size: 36px;}
	&.fa-eye { font-size: 18px; color: #333;}
	&.fa-heart {
		cursor: pointer;

		&.is-watch { color: #e00040;}
		&.is-running {
			-webkit-animation: heartBeat 0.4s ease-in-out;
			animation: heartBeat 0.4s ease-in-out;
		}
	}
}

#projectList {
	.Project {
		position: relative;

		.fa-star {
			position: absolute;
			top: 17px;
			right: 10px;
			margin-top: -12px;
			font-size: 24px;
			cursor: pointer;

			&.is-watch { color: orange;}
			&.is-running {
				-webkit-animation: heartBeat 0.4s ease-in-out;
				animation: heartBeat 0.4s ease-in-out;
			}
		}
	}
}
// ================================
// new ui
// ================================
.watch-title {
	display: block;
	height: 35px;
}
.project-list__item .fa-star {
	position: absolute;
	bottom: 5px;
	right: 6px;
	font-size: 24px;
	cursor: pointer;
	z-index: 6;

	&.is-watch { color: orange;}
	&.is-running {
		-webkit-animation: heartBeat 0.4s ease-in-out;
		animation: heartBeat 0.4s ease-in-out;
	}
}
// ================================
.Page--view-issue {
	position: relative;

	> .watchIconWrap {
		position: fixed;
		bottom: 0;
		right: 0;
		display: table;
		width: auto;
		white-space: nowrap;
		background-color: #fff;
		box-sizing: border-box;
		box-shadow: 0 0 7px rgba(#000, 0.15);
		border-radius: 6px 0 0 0;
		cursor: pointer;
		z-index: 50;

		&_new {
			bottom: 68px;
		}

		> span,
		> i.fa-heart {
			display: table-cell;
			vertical-align: middle;
			box-sizing: border-box;
		}

		> span {
			padding: 0 20px;
			color: #fff;
			background-color: #222;
			border-radius: 4px 0 0 0;
		}
		> i.fa-heart {
			padding: 10px 20px;
		}
	}
}
.watch-issueSection {
	margin-bottom: 40px;
}
.watch-issue {
	table-layout: fixed;
	font-size: 93%;

	&_new {
		font-size: 100%;

		td {
			white-space: normal !important;
		}
	}

	&-col-1 { width: 115px;}
	&-col-3 { width: 90px;}
	&-col-5 { width: 65px;}

	&-list.is-hover:not(.watch-issue-list_new),
	&-list.is-hover:not(.watch-issue-list_new) td {
		background-color: #fffde9 !important;
	}

	&-list_new {
		cursor: pointer;
		font-size: 90%;
	}

	.Assigner,
	.Watch {
		text-align: center;

		i.fa { font-size: 30px;}
	}
}
.Description {
	.is-visible { display: block;}
	.is-hidden { display: none;}
}

@-webkit-keyframes heartBeat {
	50% { transform: scale(2); opacity: 0.5;}
}
@keyframes heartBeat {
	50% { transform: scale(2); opacity: 0.5;}
}
