body {
  overflow: auto;
  width: 700px;
  max-height: 600px;
  font-family: 'M PLUS Rounded 1c';
}

.watchListTitle {
  margin-bottom: 0 !important;
  padding: 16px;
  color: #fff;
  background-color: #2c9a7a;
}

.watchList {
  display: none;
  width: 100%;
}
.watchList.is-active {
  display: flex;
  flex-direction: column;
}
.watchList__li {
  display: flex;
  width: 100%;
  color: #4a4a4a;
  background-color: #fff;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
.watchList__li:not(:first-child) {
  border-top: 0;
}
.watchList__li__desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 8px !important;
}
.watchList__li__a {
  display: block;
  padding: 16px;
  color: #4a4a4a;
  background-color: #fff;
  transition: background-color 0.3s ease;
}
.watchList__li__a h2.title {
  transition: color 0.3s ease;
}
.watchList__li__a:hover {
  background-color: #fafafa;
}
.watchList__li__a:hover h2.title {
  color: #2c9a7a !important;
}

.notWatch {
  padding: 16px;
}

.field.is-grouped.is-grouped-multiline > .control:not(:last-child) {
  margin-bottom: 4px;
}

.field.is-grouped > .control:not(:last-child) {
  margin-right: 4px;
}
