$color: #2c9a7a;

body {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55px minmax(0px, 545px);
  width: 700px;
  height: auto;
  max-height: 600px;
  font-family: "M PLUS Rounded 1c";
}
.watchListTitle {
  margin-bottom: 0 !important;
  padding: 16px;
  color: #fff;
  background-color: $color;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.tabs {
  overflow: visible;
  position: relative;
  margin-bottom: -1px !important;
  z-index: 999;

  ul,
  li {
    height: fit-content;
  }
}
.watchListWrap {
  overflow-x: hidden;
  overflow-y: auto;
  height: fit-content;
}
.watchList {
  display: none;
  width: 100%;
  height: fit-content;

  &.is-active {
    display: flex;
    flex-direction: column;
  }
  &__li {
    display: flex;
    width: 100%;
    color: #4a4a4a;
    background-color: #fff;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;

    &:not(:first-child) {
      border-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
    &__title {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      margin-bottom: 2rem !important;
    }
    &__desc {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      margin-bottom: 16px !important;
      line-height: 1.6;
    }
    &__a {
      display: block;
      padding: 16px;
      color: #4a4a4a;
      background-color: #fff;

      &:hover {
        background-color: hsl(171, 100%, 96%);

        h2.title {
          color: $color !important;
        }
      }
    }
  }
}
.notWatch {
  padding: 16px;
}
