body {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55px minmax(0px, 545px);
  width: 700px;
  font-family: 'M PLUS Rounded 1c';
}

.watchListTitle {
  margin-bottom: 0 !important;
  padding: 16px;
  color: #fff;
  background-color: #2c9a7a;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  overflow: visible;
  position: relative;
  margin-bottom: -1px !important;
  z-index: 999;
}
.tabs ul,
.tabs li {
  height: fit-content;
}

.watchListWrap {
  overflow-x: hidden;
  overflow-y: auto;
  height: fit-content;
}

.watchList {
  display: none;
  width: 100%;
  height: fit-content;
}
.watchList.is-active {
  display: flex;
  flex-direction: column;
}
.watchList__li {
  display: flex;
  width: 100%;
  color: #4a4a4a;
  background-color: #fff;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
.watchList__li:not(:first-child) {
  border-top: 0;
}
.watchList__li:last-child {
  border-bottom: 0;
}
.watchList__li__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-bottom: 2rem !important;
}
.watchList__li__desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 16px !important;
  line-height: 1.6;
}
.watchList__li__a {
  display: block;
  padding: 16px;
  color: #4a4a4a;
  background-color: #fff;
}
.watchList__li__a:hover {
  background-color: hsl(171, 100%, 96%);
}
.watchList__li__a:hover h2.title {
  color: #2c9a7a !important;
}

.notWatch {
  padding: 16px;
}
